<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Friends' bio</title>
</head>
<body>
    <h1>Hello there, my name is {{ name }}</h1>

    <img src="https://i.imgur.com/nUD1ZzJ.jpg" alt="Dimas" height=400px>
    <ul>
        <li>NPM : {{ npm }}</li>
        <li>I am studying in {{ campus }}</li>
        <li>My hobby is {{ hobby }}</li>
        <li>Description : {{ description }}</li>
    </ul>

    <h1>This is my friend, {{ name1 }}</h1>

    <img src="https://i.imgur.com/IqyxeIt.jpg" alt="Dave" height=400px>
    <ul>
        <li>NPM : {{ npm1 }}</li>
        <li>I am studying in {{ campus1 }}</li>
        <li>My hobby is {{ hobby1 }}</li>
        <li>Description : {{ description1 }}</li>
    </ul>

    <h1>This is my friend, {{ name2 }}</h1>

    <img src="http://about.tarung2017.com/foto/417.jpg" alt="Dave" height=400px>
    <ul>
        <li>NPM : {{ npm2 }}</li>
        <li>I am studying in {{ campus2 }}</li>
        <li>My hobby is {{ hobby2 }}</li>
        <li>Description : {{ description2 }}</li>
    </ul>
    
</body>
</html>
